@import "app";
$color:red;
$primary : black;

.map-layout{
    $width:100%;
    width: $width;
    height: 300px;
    background: lightgrey;
    border-radius: 5px;
}

.btn-hover{
    transition: 300ms;
    cursor: pointer;

    &:hover{
        opacity: 0.8;
    }
}
a.linker{
    color: $primary !important;
    &:hover{
        color: rgb($primary,0.7) !important;
    }
}
