i.menu-icon ,.sub-menu li i{
    font-size: 23px;
    margin-top: 0 !important;
}
.has-error {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important; ;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}
.has-error::placeholder{
    color:#a94442 !important; ;
}
div#main-menu {
    top: 0;
    position: absolute;
}
.goto-search{
    cursor: pointer;
    transition: 300ms;
}
.goto-search:hover{
    opacity: 0.7;
}
.project_use{
    display: none;
}
.has-error-text{
    color:#a94442;
    display: none;
}
.red-star{
    color: red;
    padding: 0px 3px;
    font-size: 15px;
    position: relative;
    top: 3px;
}
.has-error:focus {
    border-color: #843534 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483 !important;

}
.stat-content.custom {
    margin-left: 0 ;
    margin-top: 5px;
    text-align: right;
}
footer.site-footer{
   padding: 0;
}
.type-select{
    width: 150px;
    display: inline-block;
    margin-right: 20px;
}
.pagination{
    display: inline-flex;
}
.sub-menu li.active a,.sub-menu li.active i{
    color: #03a9f3 !important;
}
.flex-to-block{
    display: flex;
}
.flex-to-block > .item{
    width: 50%;
    border: 1px solid lightgrey;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}
.more-property{
    display: none;
}

.flex-to-block > .item:last-child{
    border-left: unset;
}
.flex-to-block > .item.active{
    background: rgba(0, 128, 0, 0.75);
    color: white;
}
.header-title {
    margin: 35px 0;
}
.form-control{
    border: 1px solid #ced4daa1;
}
label{
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: 300!important;
    color: #777!important;
}
.select-image{
    padding: 30px;
    border: 3px dashed lightgrey;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: 300ms;

}
.select-image:hover{
    background: rgba(3, 169, 243, 0.1);
    color: rgba(3, 169, 243, 0.82);
    border-color: rgba(3, 169, 243, 0.82);
}
.select-image > input[type="file"]{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 100px;
    opacity: 0;
    cursor: pointer;
}
.review-image{
    text-align: center;
    display: none;
}
.loading{
    display: none;
}

.showoff{
    display: none !important;
}
.showon{
    display: block !important;
}
.close-f {
    font-size: 12px;
    background: red;
    padding: 3px 5px;
    color: white;
    border-radius: 5px;
    position: absolute;
    top: 8px;
    right: 25px;
    transition: 300ms;
    cursor: pointer;
    opacity: 0.9;
}
.close-f:hover{
    color: white;
    background: rgba(255, 0, 0, 0.69);
}
.close-f1{
    top: 3px;
    right: 3px;

}
.apartment-option{
    display: none;
}
.tower{
    display: none;

}


/* Change When Edit */
.property{
    display: none;
}

/* End Change When Edit */
/*Fill*/
.input-file {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 100px;
    opacity: 0;
    cursor: pointer;
    max-height: 240px;
}

/* End Fill*/
/* Project Listing  */
.filter-blog{
    display: none;
}
.add-background{
    background-repeat: no-repeat;
    background-size: calc(100%);
    background-position: center;
}
a{
    text-decoration: unset !important;
}
/* End  Project Listing */
.user-menu.dropdown-menu {
    left: -60px !important;
}
.top-left{
    z-index: 1080;
}
.main-page1{
    background: white;
    padding-top: 30px;
}
.profile-image{
    margin:  0 auto;
    display: block;
    margin-bottom: 30px;
    position: relative;
    background: lightgrey;
    width: 130px;
    height: 130px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.main-page1 > .list > li {
    list-style-type: none;
    padding: 10px 20px;
    transition: 300ms;
    cursor: pointer;
}
.list{
    color: #595959;
}
.main-page1 > .list > li:hover{
    color: #03a9f3;
}
.main-page1 .active{
    background: rgba(3, 169, 243, 0.11);
    color: #03a9f3;
    position: relative;
}
.main-page1 .active:before{
    content: '';
    width: 3px;
    position: absolute;
    height: 100%;
    background:#03a9f3 ;
    top: 0;
    left: 0;
}
.title{
    padding: 0px 10px;
    font-weight: 600;
    color: black;
}
.title-content {
    color: #90949c;
    font-weight: 600;
}
.main-page1 > .row{
    padding: 15px 0;
    border-bottom: 1px solid #d3d3d363;
    margin: 0;
}
.user-area .user-avatar{
    width: 35px !important;
    height: 35px !important;
}
.main-page1 > .row:last-child{
    padding-bottom: 50px;
}
.list li:last-child{
    padding-bottom: 50px;
}
#loading{
    display: none;
}
.click-change{
    cursor: pointer;
}
.input-change{
    display: none;
}
.notification{
    width: 300px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-height: 400px;
    overflow: auto;
    z-index: 1080;
}
.notification::-webkit-scrollbar {
    width: 0;
}
.success{
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
}
.unsuccess{
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}
.noti-item{
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    margin:5px 0; ;
}
.click-change-main{
    cursor: pointer;
    transition: 300ms;
}
.click-change-main:hover{
    background: rgba(0, 0, 0, 0.03);
}
.profile-image:hover .edit-profile-image{
    opacity: 1;
    transform: translateY(0px);
}
.edit-profile-image{
    cursor: pointer;
    user-select: none;
    background: #000000eb;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 13px;
    font-size: 12px;
    opacity: 0;
    transition: 200ms;
    transform: translateY(-5px);
}
.slider-down {
    animation: slideOutDown 500ms;
}
.slider-down-in{
    animation: slideInDown 500ms;
}
.page-item.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
li.page-item.disabled:hover a {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
.list-search li {
    padding: 10px 10px;
    list-style: none;
    transition: 300ms;
    font-weight: 600;
}
.list-search{
    margin-bottom: 0;
}
.list-search li:hover{
    background: rgba(211, 211, 211, 0.31);

}
.list-box{
    width: 100%;
    max-height: 500px;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px lightgrey;
    background: white;
    position: absolute;
    top: 44px;
    z-index: 1070
}
span.image-plus {
    margin: 0px 10px;
}
.search-button-click{
    transition: 300ms;
}
.search-button-click:hover{
    cursor: pointer;
    background: rgba(211, 211, 211, 0.2);
}
.search-load{
    display: none;
}
.item.active{
    background: rgba(211, 211, 211, 0.31);
}
.list-box{
    display: none;
}
@keyframes slideOutDown {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(100px);
        opacity: 0;
    }
}
@keyframes slideInDown {
    100%{
        transform: translateY(0);
        opacity: 1;
    }
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
}
/* Mobile Screen */

@media screen and (max-width: 800px) {
    body{
        display: block;
    }
    .right-panel{
   margin-left: 0;
    }
    .content{
        width: calc(100% - 20px);
        margin: 10px;
        padding: 10px;
        background: white;
        float: unset !important;
    }
    .row{
        margin:0 0;
    }
    .card-body{
        padding: 0 !important;
    }
    .col-md-12{
        padding: 0;
    }
    .col-12{
        padding: 0;
    }
    .breadcrumbs {
        padding: 0 !important;
        margin-top: 3px !important;
        margin-bottom: 3px;
        float: unset !important;
    }
    header#header {
        padding: 0;
    }
    .top-right{
        padding: 0 10px;!important;
    }
    .table{
        display: block;
        overflow: auto;
    }
    .card{
        border: none !important;
        background: #fafafa !important; ;
    }
    .input-group{
        margin: 5px 0 !important;
    }
    .type-select{
        width: 100% !important;
    }


}




